#category-connection > .category-icon {
  list-style-image: url("chrome://browser/content/cenonetworkpreferences/ceno-icon.svg");
}

.network-status-label {
  font-weight: bold;
  margin-inline-end: 0.75em;
}

.network-status-label-not-bold {
  margin-inline-end: 0.75em;
}

.network-status-result {
  margin-inline-end: 0.75em;
}

.content-sources moz-toggle {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
